<div class="panel panel-default">
    <div class="panel-body">
        {{#link-to "messages.show" msg}}<h2>{{msg.title}}</h2>{{/link-to}}
        <div>{{{msg.body}}}</div>
        {{!--# if (eq msg.postedBy.id userId)}}
            <div class="text-right panel-footer">
                {{#link-to 'messages.edit' msg class='btn btn-success btn-xs'}}Edit{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteMsg' msg}}>Delete</button>
            </div>
        {{/if--}}
    </div>
</div>
{{yield}}
