@import "bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}

//.ember-modal-dialog{
//    width: 400px;
//    height: 200px;
//}
.modal-backdrop {
    background-color: rgba(0,0,0,.8);
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
}

.wrapper{
    padding-top: 70px;
}