<div class="menu">
    <h1 class="left">
        <em>Test</em>
    </h1>
    <div class="left links">
        {{#link-to 'messages'}}Home{{/link-to}}
        {{#link-to 'login'}}Login{{/link-to}}
        About
        Contact
    </div>
</div>
